[Unit]
Description=frpc
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/frpc.pid
ExecStart=/opt/frpc/frpc -c /opt/frpc/frpc.ini
ExecReload=/opt/frpc/frpc reload
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
