[Unit]
Description=frps
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/frps.pid
ExecStart=/opt/frps/frps -c /opt/frps/frps.ini
ExecReload=/opt/frps/frps reload
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
