[Unit]
Description=uwsgi server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
#multiserver:ExecStart=/usr/bin/uwsgi -d --ini /etc/uwsgi/uwsgi1.ini && /usr/bin/uwsgi -d --ini /etc/uwsgi/uwsgi2.ini
ExecStart=/usr/bin/uwsgi -d --ini /etc/uwsgi/uwsgi.ini
ExecReload=/usr/bin/uwsgi --reload uwsgi.pid
ExecStop=/usr/bin/uwsgi --stop uwsgi.pid
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
